:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Ubuntu', sans-serif;
  --heading: 'Ubuntu', sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.site-navbar {
  background:white;
  height: 8.5vh;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
  box-shadow: 0 2px 2px rgba(236, 231, 231, 0.308);
}

.site-navbar .navbar-brand,
.site-navbar .nav-link {
  color: #000;
}

.site-navbar .nav-link {
  position: relative;
  text-decoration: none;
}

.site-navbar .nav-link::after {
  position: absolute;
  right: 0;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orangered;
  content: '';
  transition: width 0.8s ease-in-out;
  
}

.site-navbar .nav-link:hover,
.site-navbar .nav-link.active {
  color: orangered;
}

.site-navbar .nav-link:hover::after,
.site-navbar .nav-link.active::after {
  width: 100%;
}

.site-nav-links {
  justify-content: center;
  gap: 15px;
  flex: 1;
}

@media (min-width: 992px) {
  .site-nav-links {
    position: relative;
    left: -15%;
  }
}

.site-navbar .navbar-toggler {
  border-color: #fff;
}

.site-navbar .navbar-toggler-icon {
  filter: invert(1);
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin-left: 70px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size:17px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
